﻿<section>
	<h2><span>Version: </span><span data-bind="text: currentVersion" ></span></h2>
	<!--ko if: isUpdateAvailable-->
	<h3 style="font-style: italic"><span>new version available: </span><span data-bind="text:deploymentInfo().version"></span></h3>
	<!-- /ko -->
	<h4><a data-bind="attr: {href:deploymentInfo().pathToAndroid}">Click to install Android app</a></h4>
	<h4><a data-bind="attr: {href:deploymentInfo().pathToIos}">Click to install iOS app</a></h4>
</section>
