﻿<div class="navigation-secondary">
	
	<nav class="list">
		<ul>
			<!-- ko foreach: router.navigationModel -->
			<li data-bind="addClassAfterDelay:{classToAdd: 'loaded', delayS: ($index() * 0.2) + 0.4}">
				<a class="link" data-bind="attr: { href: $data.observableHash ? observableHash : hash}, css: { active: isActive }">
					<span class="title" data-bind="text: title"></span>
				</a>
			</li>
			<!-- /ko -->
		</ul>
	</nav>

	<div data-bind="router: { cacheViews: false, transition: 'entrance'  }" class="child-container"></div>
</div>