﻿<section id="pictures">
	<h2><span>pictures </span></h2>

	<!--ko if: isCameraAvailable()-->
	<a data-bind="click: takePicture">take a picture</a>
	
	<!--ko if: localPictures().length > 0-->
<!--	<p>local files</p>-->
	<ul data-bind="foreach: localPictures()">
		<li>
			<p>
				<!--<img data-bind="attr: { src: 'data:image/jpeg;base64,' + imageData() }"  />-->
				<img data-bind="attr: { src: $data }" />
				<a class="upload" data-bind="click: $root.uploadPicture">upload</a>
			</p>
		</li>
	</ul>
	<!-- /ko -->
	<!-- /ko -->
</section>
