﻿<div id="shell" data-bind="css: shellClasses">
	
	<div id="header">

		<a id="logo" href="/">
			<div class="icon-logo"></div>
		</a>

		<span id="username" data-bind="text: user().name"></span>
		<span class="appversion" data-bind="text: version"></span>
	</div>

	<!-- ko compose: 'areas/navigation.secondary.html'--><!--/ko-->

	<div class="errorMessage">
		
		<div class="message" >
			<div class="header">Apologies...</div>
			<div class="text" data-bind="text: errorMessage"></div>
			<div class="OK" data-bind="click: clearError">OK</div>
		</div>
		
	</div>
</div>