﻿.BackgroundImage(@url) {
	background-image: @url;
	background-repeat: no-repeat;
	background-position: center center;
} 

.BackgroundImageAndHighResolutionAlternate(@urlNormal, @urlHighRes) {
	.BackgroundImage(@urlNormal);
	@media	only screen and (-webkit-min-device-pixel-ratio: 2), 
			only screen and ( min--moz-device-pixel-ratio: 2), 
			only screen and ( -o-min-device-pixel-ratio: 2/1), 
			only screen and ( min-device-pixel-ratio: 2), 
			only screen and ( min-resolution: 192dpi), 
			only screen and ( min-resolution: 2dppx) {
		.BackgroundImage(@urlHighRes);
	}
}

.icon-logo {
	.BackgroundImage(url('icons/logo.svg'));
}
