﻿
.backgroundImage(@url, @height) {
     background-image: url(@url);
    height: @height;
    background-repeat: no-repeat;
    cursor: pointer;
	background-position: center center;
}

.reponsiveBackgroundImage(@url, @height) {
   /*TODO: add media query-dependent alternative sizes and/or urls */
   .backgroundImage(@url, @height);
}
