﻿@import url('normalize.less');
@import url('layout.columns.less');

@appMargin: (@grid-gutter-width / 3);

@media (min-width: 400px) {
	@appMargin: (@grid-gutter-width * (2/3));
}

.CenterParent() {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.TranslateRotateScale(@X: 0, @Y: 0, @Z: 0, @degrees: 0, @scaleX: 1, @scaleY: 1) {
	-moz-transform: rotateZ(@degrees) translate3d(@X, @Y, @Z) scale3d(@scaleX,@scaleY,1);
	-ms-transform: rotateZ(@degrees) translate3d(@X, @Y, @Z) scale3d(@scaleX,@scaleY,1);
	-o-transform: rotateZ(@degrees) translate3d(@X, @Y, @Z) scale3d(@scaleX,@scaleY,1);
	-webkit-transform: rotateZ(@degrees) translate3d(@X, @Y, @Z) scale3d(@scaleX,@scaleY,1);
	transform: rotateZ(@degrees) translate3d(@X, @Y, @Z) scale3d(@scaleX,@scaleY,1);
}

.Scale(@X: 1, @Y: 1) {
	-moz-transform: scale3d(@X,@Y,1);
	-ms-transform: scale3d(@X,@Y,1);
	-o-transform: scale3d(@X,@Y,1);
	-webkit-transform: scale3d(@X,@Y,1);
	transform: scale3d(@X,@Y,1);
}

.TransitionDelay(@delay) {
	-moz-transition-delay: @delay;
	-o-transition-delay: @delay;
	-webkit-transition-delay: @delay;
	transition-delay: @delay;
}


@defaultEasing: cubic-bezier(.08, .79, .37, 1.01);

.DefaultTransition(@duration: 0.55s, @easing: @defaultEasing) {
	-moz-transition: all @duration @easing;
	-o-transition: all @duration @easing;
	-webkit-transition: all @duration @easing;
	transition: all @duration @easing;
}

.Animation(@name, @duration, @delay: 0s, @playState: running, @direction: normal, @fillMode: forwards, @easing: @defaultEasing,@interationCount: 1) {
	-moz-animation-name: @name;
	-o-animation-name: @name;
	-webkit-animation-name: @name;
	animation-name: @name;
	-moz-animation-duration: @duration;
	-o-animation-duration: @duration;
	-webkit-animation-duration: @duration;
	animation-duration: @duration;
	-o-animation-fill-mode: @fillMode;
	-webkit-animation-fill-mode: @fillMode;
	animation-fill-mode: @fillMode;
	-moz-animation-timing-function: @easing;
	-o-animation-timing-function: @easing;
	-webkit-animation-timing-function: @easing;
	animation-timing-function: @easing;
	-moz-animation-delay: @delay;
	-o-animation-delay: @delay;
	-webkit-animation-delay: @delay;
	animation-delay: @delay;
	-moz-animation-direction: @direction;
	-o-animation-direction: @direction;
	-webkit-animation-direction: @direction;
	animation-direction: @direction;
	-moz-animation-iteration-count: @interationCount;
	-o-animation-iteration-count: @interationCount;
	-webkit-animation-iteration-count: @interationCount;
	animation-iteration-count: @interationCount;
	-moz-animation-play-state: @playState;
	-o-animation-play-state: @playState;
	-webkit-animation-play-state: @playState;
	animation-play-state: @playState;
}

.list-unstyled() {
	list-style: none;
	padding: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.list-inline() {
	.list-unstyled();

	> li {
		display: inline-block;
		margin-right: -5px;
	}
}
