﻿@import url('layout.less');
@import url('colors.less');

.load-spinner {
	z-index: -1;
	.CenterParent();
	top: 50px;
	bottom: auto;
	opacity: 0;
	.DefaultTransition();

	.task {
		text-align: center;
	}

	.underline {
		background-color: @brand-color;
		.TranslateRotateScale(0%);
		height: 2px;
		width: 60px;
		margin: auto;
		margin-top: 2px;
	}

		.underline:nth-child(3) {
			.TranslateRotateScale(0%);
			opacity: 0;
		}
}


.AnimateLeft() {
	0% {
		.TranslateRotateScale(-80%);
		opacity: 0;
	}

	50% {
		.TranslateRotateScale(0%);
		opacity: 1;
	}

	100% {
		.TranslateRotateScale(80%);
		opacity: 0;
	}
}

@-moz-keyframes moveLeft {
	.AnimateLeft()
}

@-webkit-keyframes moveLeft {
	.AnimateLeft()
}

@keyframes moveLeft {
	.AnimateLeft()
}

.busy {

	.load-spinner {
		z-index: 1;
		opacity: 1;
		.DefaultTransition();
		.TransitionDelay(1.5s);

		.underline {
			.Animation(moveLeft, 1.8s, 0s, running, alternate, forwards, linear, infinite);
		}

			.underline:nth-child(3) {
				.Animation(moveLeft, 2s, 2s, running, alternate, forwards, linear, infinite);
			}
	}
}
