﻿@import url('colors.less');
@import url('typography.less');
@import url('layout.less');
@import url('navigation.less');


.navigation-secondary {
	z-index: 1;

	@listHeight: 34px;
	@listHeight-sm: 50px;

	> .child-container {
		.CenterParent();
		top: (@listHeight + @appMargin);
		overflow: hidden;
		margin: 0 10px;

		@media (min-width: @screen-sm) {   
			top: (@listHeight-sm + @appMargin);
			margin: 0 20px;
		}
	}

	> .list {
		background: @background-color;// @nav-background-color;
		z-index: 1;
		.CenterParent();
		bottom: auto;
		height: @listHeight;
		overflow-x: auto;
		white-space: nowrap;

		@media (min-width: @screen-sm) {
			white-space: normal; overflow-x: inherit; 
			height: @listHeight-sm;
		}


		ul {
			.list-inline();
			.CenterParent();
			top: auto;
			bottom: 5px;

			@media (min-width: @screen-sm) {
				bottom: 10px;
			}

			> li {
				.TranslateRotateScale(-40px);
				opacity: 0;

				&.loaded {
					.DefaultTransition();
					.TranslateRotateScale(0px);
					opacity: 1;
				}
			}

				> li:nth-child(1) {
					margin-left: 14px;

					@media (min-width: @screen-sm) {
						margin-left: 10px;
					}
				}
		}

		.link {
			text-decoration: none;
			.DefaultTransition();
			.InactiveLink();
			.h2(-8);

			@media (min-width: @screen-sm) {
				.h2(-2);
			}

			&::before { //link underline
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 2px;
				content: "";
				z-index: -1;
				background-color: @brand-color;
				/*#gradient.horizontal-three-colors(@brand-color, @brand-color, 50%, @brand-color);*/
				.DefaultTransition();
				opacity: 0;
				.TranslateRotateScale(-70%);
			}

			&.active {
				.DefaultTransition();
				.ActiveLink();

				&::before {
					.DefaultTransition();
					.TranslateRotateScale(0%);
					opacity: 1;
				}
			}

			margin-right: 18px;
			position: relative;
			z-index: 1;
		}
	}
}
