﻿@import url('colors.less');
@import url('layout.less');
@import url('icons.less');
@import url('typography.less');

.InactiveLink(@darken: 30%) {
	color: darken(@font-color, @darken);

	&:hover {
		color: @font-color;
	}
}

.ActiveLink() {
	color: @font-color;

	&:hover {
		color: @font-highlighted;
	}
}

.Button() {
	border: solid 2px #707070;
	border-radius: 8px;
	min-width: 60px;
	text-align: center;
	color: @font-color;
	z-index: 1;

	&::before { //'active' overlay
		.CenterParent();
		border-radius: 8px;
		z-index: -1;
		content: "";
		background: @font-color;
		.DefaultTransition();
		opacity: 0;
	}

	&:active {
		&::before {
			.DefaultTransition(0.2s);
			opacity: 1;
		}
	}
}
.button{
	.Button();
	background: @brand-color;
}

#old-browser-message {
	display: none;
	margin: 20px;
	margin-top: 50px;
}

html:not(.svg) {

	#old-browser-message {
		display: block !important;
	}

	#applicationHost {
		display: none;
	}
}

#applicationHost {
	.CenterParent();
}

#shell {
	.CenterParent();
	overflow: hidden;

	#background {
		.CenterParent();
	}

	@headerHeight: 40px;
	@smHeaderHeight: 46px;
	@mdHeaderHeight: 50px;
	@lgHeaderHeight: 60px;

	.HeaderHeight() {
		height: @headerHeight;

		@media (min-width: @screen-sm) {
			height: @smHeaderHeight;
		}

		@media (min-width: @screen-md) {
			height:@mdHeaderHeight
		}

		@media (min-width: @screen-lg) {
			height: @lgHeaderHeight;
		}
	}

	.HeaderLineHeight(@plus: 0) {
		line-height: @headerHeight + @plus;

		@media (min-width: @screen-sm) {
			line-height: @smHeaderHeight + @plus;
		}

		@media (min-width: @screen-md) {
			line-height:@mdHeaderHeight + @plus;
		}

		@media (min-width: @screen-lg) {
			line-height: @lgHeaderHeight + @plus;
		}
	}

	.ContentTop() {
		top: @headerHeight + @appMargin;

		@media (min-width: @screen-sm) {
			top: @smHeaderHeight + @appMargin;
		}

		@media (min-width: @screen-md) {
			top: @mdHeaderHeight + @appMargin;
		}

		@media (min-width: @screen-lg) {
			top: @lgHeaderHeight + @appMargin;
		}
	}

	#header {
		.CenterParent();
		.HeaderHeight();
		top: @appMargin;
		bottom: auto;
		background-color: @nav-background-color;

		#logo {
			z-index: 99;
			position: absolute;
			height: 100%;
			left: 0px;

			.icon-logo {
				float: left;
				/*margin-top: 2px;*/
				height: 100%;
				width: 250px;

				@media (min-width: @screen-sm) {
					width: 300px;height: 100%;
				}

				@media (min-width: @screen-md) {
					width: 320px; height: 100%;
				}

				@media (min-width: @screen-lg) {
					width: 400px; height: 100%;
				}
			}
		}

		#username {
			.HeaderLineHeight();
			margin-right: 8px;
			display: none;
			float: right;
			.h4();
			font-style: italic;
			color: @background-color;

			@media (min-width: @screen-sm) {
				display: block;
			}
		}

		.appversion {
			.HeaderLineHeight();
			float: right;
			font-size: 12px;
			margin: 2px 8px;
			color: #9E9E9E;
		}
	}

	.navigation-secondary {
		.CenterParent();
		.ContentTop();
	}

	.errorMessage {
		.CenterParent();
		background: @background-highlighted;
		opacity: 0;
		z-index: -9999;
		.DefaultTransition();
		.TransitionDelay(0.3s);
		
		.message {
			background: @applicationError;
			color: black;
			max-width: 380px;
			margin: 15% auto;
			padding: 20px;
			border-radius: 10px;
			position: relative;
			border: solid 1px gray;
			.DefaultTransition();
			.TransitionDelay(0.1s);
			.TranslateRotateScale(0, -50%);
			opacity: 0;


			.header {
				margin: -4px -20px 10px;
				background: @brand-color;
				padding: 4px 20px;
				color: @font-color;
				.h3();
			}

			.text {
				margin-bottom: 30px;
			}

			.OK {
				.Button();
				background: @brand-color;
				position: absolute;
				right: 0;
				margin: -20px 20px;
				padding: 4px;
			}
		}
	}

	&.error {

		.errorMessage {
			.DefaultTransition();
			/*.Animation(makeVisible, 0.5);*/
			opacity: 1;
			z-index: 11;


			.message {
				.DefaultTransition();
				.TransitionDelay(0.3);
				.TranslateRotateScale(0,0);
				opacity: 1;
			}
		}
	}
}
