﻿/*@font-face {
    font-family: 'oxygen2';
    src: url('/client/styles/base/fonts/oxygen2/oxygen2-webfont.eot');
    src: url('/client/styles/base/fonts/oxygen2/oxygen2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/client/styles/base/fonts/oxygen2/oxygen2-webfont.woff') format('woff'),
         url('/client/styles/base/fonts/oxygen2/oxygen2-webfont.ttf') format('truetype'),
         url('/client/styles/base/fonts/oxygen2/oxygen2-webfont.svg#CodeProLightDemoRegular') format('svg');
}*/

@headingFontFamily: sans-serif;
@bodyFontFamily: @headingFontFamily;

body {
    font-family: @bodyFontFamily;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headingFontFamily;
}

.h1(@plus: 0){
    font-size: (56px + @plus);
	font-family: @headingFontFamily;
}
h1 {
    .h1();
}

.h2(@plus: 0){
    font-size: (30px + @plus);
	font-family: @headingFontFamily;
}
h2 {
    .h2();  
}

.h3(@plus: 0){
    font-size: (20px + @plus);
	font-family: @headingFontFamily;
}
h3 {
    .h3();
}

.h4(@plus: 0){
    font-size: (18px + @plus);
	font-family: @headingFontFamily;
}
h4 {
    .h4();
}

.h5(){
    font-size: 16px;
	font-family: @headingFontFamily;
}
h5 {
    .h5();
}

a {
	text-decoration: none;
}