﻿
@import url('../base/colors.less');
@import url('../base/typography.less');
@import url('../base/layout.less');
@import url('../base/images.less');
@import url('../base/icons.less');
@import url('../base/navigation.secondary.less');
@import url('../base/loader.less');

@import url('../base/pictures.less');


@font-face {
	font-family: 'avalon-book';
	src: url('fonts/avalon_book_english/avalon-book-webfont.eot');
	src: url('fonts/avalon_book_english/avalon-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/avalon_book_english/avalon-book-webfont.woff') format('woff'), url('fonts/avalon_book_english/avalon-book-webfont.ttf') format('truetype'), url('fonts/avalon_book_english/avalon-book-webfont.svg#avalonregular') format('svg');
}

@headingFontFamily: sans-serif; // avalon-book;
@bodyFontFamily: @headingFontFamily;
@font-family-sans-serif: @headingFontFamily;
@font-family-serif: @headingFontFamily;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

//bootstrap overrides
@screen-sm: 550px;
@grid-gutter-width: 12px;

//colors
@background-color: white;
@font-color: black;
@background-highlighted: rgba(255, 255, 255, 0.3);
@font-highlighted: green;
@brand-color: rgba(0, 151, 255, 1);
@nav-background-color: rgba(0, 0, 0, 0.8);
@content-background-color: @nav-background-color;

@applicationError: rgba(255, 192, 203, 0.94);

input {
	background-color: @background-color;
}

#applicationHost {
	.CenterParent();


	#splash {
		background-color: white;
		.CenterParent();
		text-align: center;
		top: 80px;
	}
}

#shell {
}

.navigation-secondary {

	.child-container {
		overflow-y: auto;
	}
}
